[package]
name = "test_utils"
edition.workspace = true
rust-version.workspace = true
license.workspace = true
version.workspace = true
authors.workspace = true

[lints]
workspace = true


[dependencies]
tempfile = { workspace = true }
tracing-subscriber = { workspace = true }
