name: "Test Suite"

on:
  push:
    branches:
      - "main"
      - "master"
  pull_request:
  workflow_dispatch:

jobs:
  test:
    env:
      RUST_LOG: trace

    name: cargo test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest

      - run: sudo apt-get update && sudo apt-get install -y zsh

      - name: Write basic .tmux.conf
        run: echo 'set -g base-index 1' > ~/.tmux.conf

      - run: tmux -V

      - run: cargo nextest run --workspace

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # Ensure rustfmt is installed and setup problem matcher
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt,clippy

      - name: cargo fmt
        uses: actions-rust-lang/rustfmt@v1

      - name: cargo clippy
        run: "cargo clippy -- -D warnings"
